<%- include("header"); -%>
  <div class="box" id="heading">
    <h1><%= title %></h1>
  </div>

  <div class="box">
      <% items.forEach(item => { %>


        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="itemID" value="<%=item._id%>" onchange="this.form.submit()">
              <p>
                <%= item.name %>
              </p>
          </div>
          <input type="hidden" name="list" value=<%= title %>></input>
        </form>


      <% }) %>

      <form class="item" action="/" method="post">
        <input type="text" name="item" placeholder="Add Task" autocomplete="off">
        <button type="submit" name="list" value=<%= title %>>+</button>
      </form>
  </div>
<%- include("footer"); -%>
